.container {
  padding: 10px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: #FFAC5D;
}

.header {
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
  background-color: #FFAC5D;
}
.nav {
  background-color: #FFAC5D;
}

.header ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

.header ul li{
  display: table-cell;
  min-width: 50px;
}
.header ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.current{
  border: 3px solid #555;
}
.current a{
  color: #555;
}
.header ul li a:hover{
  color: #E71B1F;
}
