.navigationContainer {
  width: 20rem;
  height: 100%;
  position: fixed;
  left: 0;
  margin-left: 20rem; 
}

.navigationContainer div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
}

.navigationContainer ul {
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 3rem;
}

.navigationContainer a {
  color: var(--text-primary);
  font-size: 2.0rem;
  font-weight: 300;
  text-decoration: none;
  transition: 0.2s;
}

.navigationContainer li:hover a {
  letter-spacing: 1px;
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
